/* * {
    box-sizing: border-box;
} */

body { 
    background-repeat: no-repeat; 
    background-size: cover;
    background-color:  #fb511b;
}

.container-star {
    text-align: center; 
    color: white; 
    font-size: 45px; 
    font-weight: 400;  
}

.icons .star {
    color: white; 
}

.icons .star :hover {
    color: blue; 
}

.container {
/* background-color: limegreen; */
background-color: white; 
margin-bottom: 50px; 

}

.header {
    /* background-color:lightpink; */
    text-align: center;
    color: #fb511b;
    padding-top: 50px; 
    padding-bottom: 20px; 
}

.Or {
    font-size: 25px; 
}

.here {
    /* background-color: blue;   */
    text-align: center;
}


.bird {
    /* background-color: yellow; */
    font-weight: bold; 
    padding: 25px; 
}

.reg {
    /* background-color: purple;  */
    margin-bottom: 30px; 
}
