/* * {
    box-sizing: border-box;
} */

body { 
    background-repeat: no-repeat; 
    background-size: cover;
    background-color:  #fb511b;
}

.container {
background-color: limegreen;
/* display: flex; */
/* justify-content: center;   */
}

.header {
    background-color:lightpink;
}

.here {
    background-color: blue;  
}


.bird {
    background-color: yellow;
    text-align: center;
    /* align-content: center;   */
}

.reg {
    background-color: purple; 
}
