* {
    box-sizing: border-box;
}

body { 
    background-repeat: no-repeat; 
    background-size: cover;
    background-color:  #fb511b;
}

.container {
/* background-color: limegreen; */
background-color: white; 
}

.cat {
    /* background-color:lightpink; */
    text-align: center;
    color: #fb511b;
    padding-top: 50px; 
}

.dog {
    font-weight: bold; 
    /* background-color:yellow; 
} */