* {
    box-sizing: border-box;
}

body { 

    background-image: url("../images/greenTexture.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-color:red; 
    /* text-align: right; 
    font-size: 2rem;
    font-weight: 400; */
    /* background-repeat: no-repeat; 
    background-size: cover;
    background-color:seagreen; */
}

#top-container {
    text-align: right; 
    /* color: #fb511b; */
    font-size: 2rem;
    font-weight: 400; 
    margin-right: 36.3px;
}

.social {
    text-align: right; 
    font-size: 2rem;
    font-weight: 400;
    color: #fb511b;
}



.btn-reg {
    align-content: right; 
    color: #fb511b;
}

.btn-reg:hover {
    background-color:#fb511b;
    color: white; 
}

#master-container {
    background-color: white; 
}

.topnav {
    background-color: #333;
    overflow: hidden; 
    display: flex; 
    justify-content: center; 
}

.topnav a {
    color: #f2f2f2;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    text-decoration: none;
    font-size: 15px;
    position: sticky;
    font-weight: bold; 
    text-align: center; 
    font-family: 'Cinzel', serif;
}
   

.topnav a:hover {
    background-color: #ddd;
    background-color:#fb511b;
    color: black;
}

.topnav a.active {
    background-color:white; 
    color: black; 
}

.nav ul {
    list-style: none;
    text-align: center;
 }
 
 .nav ul li {
    display: inline-block;
 }

.welcome {
    text-align: center; 
    font-weight: bold; 
    font-size: 25px; 
    padding: 20px; 
}

.content {
   margin: 20px; 
    text-align:justify; 
}

 .sidebar {
     padding: 10px; 
     text-align:justify; 
 }

 .schedule-content {
    align-content: center; 
    text-align: justify; 
 }

 .contacts  {
    align-content: center; 
    text-align: justify; 
 }

 .forum  {
   align-content: center; 
   text-align: justify; 
}

.footer {
background-color: #333; 
color:#fb511b;
text-align: center; 
padding: 35px; 
font-size: 25px; 

}

.footer p {
    margin-bottom: 0;
}