* {
    box-sizing: border-box;
}

body { 
    background-repeat: no-repeat; 
    background-size: cover;
    background-color:cornflowerblue; 
    background-color:gray;
    background-color:seagreen;

}


.btn-reg {
    align-content: right; 
    color:darkblue; 
    color: orange; 
}


#master-container {
    background-color: white; 
}



.topnav {
    background-color: #333;
    overflow: hidden; 
}


.topnav a {
    float: left;
    color: #f2f2f2;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    text-decoration: none;
    font-size: 17px;
    /* position: sticky; */
    font-weight: bold; 
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Cinzel', serif;
    text-align: center; 
}


.topnav a:hover {
    background-color: #ddd;
    background-color: orange; 
    color: black;
}


.topnav a.active {
    background-color:white; 
    color: black; 
}


.nav ul {
    list-style: none;
    text-align: center;
 }
 
 .nav ul li {
    display: inline-block;
 }

 .welcome {
     padding: 30px; 
     text-align: center; 
     font-size: 20px;
     font-weight: bold;  
 }
 
