* {
    box-sizing: border-box;
}

body { 
    background-repeat: no-repeat; 
    background-size: cover;
    background-color:seagreen;
    /* background-color: darkslategray;  */

}


.btn-reg {
    align-content: right; 
    color: orange; 
}

.btn-reg:hover {
    background-color: orange; 
    color: white; 
}

#master-container {
    background-color: white; 
}



.topnav {
    background-color: #333;
    overflow: hidden; 
    display: flex; 
    justify-content: center; 
}


.topnav a {
    
    color: #f2f2f2;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    text-decoration: none;
    font-size: 17px;
    /* position: sticky; */
    font-weight: bold; 
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Cinzel', serif;
    text-align: center; 
   
}


.topnav a:hover {
    background-color: #ddd;
    background-color: orange; 
    color: black;
}


.topnav a.active {
    background-color:white; 
    color: black; 
}


.nav ul {
    list-style: none;
    text-align: center;
 }
 
 .nav ul li {
    display: inline-block;
 }

 
#master-container {
    /* background-color: red;  */
}

.welcome {
    /* background-color: purple;  */
    text-align: center; 
    font-weight: bold; 
    font-size: 25px; 
    padding: 20px; 
    /* float: right;  */
}

.content {
    /* background-color: yellow;  */
    /* float: left;  */
   margin: 20px; 
    text-align:justify; 
}

 .sidebar {
     /* background-color: blue;  */
     padding: 10px; 
     text-align:justify; 
 }

 .schedule-content {
     /* background-color: hotpink;  */
    align-content: center; 
    text-align: justify; 
 }

 .contacts  {
     /* background-color: turquoise;  */
    align-content: center; 
    text-align: justify; 
 }

 .forum  {
   /* background-color: limegreen; */
   align-content: center; 
   text-align: justify; 
}